{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block contents %}
<div id="maincontact">
  <div id="thx"></div>
  <article>
      <h1>お問い合わせ</h1>
      <p class="lead">お気軽にお問い合わせください</p>
      <p>下記メールフォームをご記入いただき、「送信する」ボタンを押してください。</p>
      <p>送信後、数分以内に送信確認メールが送られます。送られてこない場合は<a href="https://forms.gle/zXvsDY6Toc5gaGnQ6" target="_blank">こちら</a>からお願いいたします。</p>
</div>
<p>お問い合わせを送る方は下のプルダウンから企業様か個人かを選んでください。</p>
<select name="User" id="contactselector"></select>
<div id="contact"></div>

</div>
</div>



{% endblock %}
