{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block contents %}
<div id="profile_">
<div id="history">
  <br>
  <br>
  <h2>プロフィール</h2>
  <br>
  <ul>
    <li>
      <p>名前:</p>　　　　嶋津 楓
    </li><br><br>
    <li>
      <p>生年月日:</p>　　　　　2003年4月30日
    </li><br><br>
    <li>
      <p>希望職種:</p>　　　　プログラマー/エンジニア
    </li><br><br>
    <li>
      <p>学校名:</p><a href="https://www.o-hara.ac.jp/senmon/school/oita_it/" target="_blank">　　　　大原簿記公務員専門学校大分校</a>
        <br>　　※4月から学校名変更により
        <br>　　　大分情報ITクリエイター専門学校になります。
      
    </li><br><br>
    <li>
      <p>所属学科:</p>　　　　　情報IT学科
    </li><br><br>
  </ul>
</div>
<br>
<br>
<div id="skill">
  <br>
  <br>
  <h2>取得スキル</h2><br>
  <h3>取得プログラミング言語</h3>
  <br>
  <ul>
    <p>プログラミング言語</p>
    <li>Python</li>
    <li>Java</li>
    <li>JavaScript</li>
    <br>
    <br>
    <p>マークアップ言語/スタイルシート言語</p>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
  <br>
  <br>
  <h3>クラウド技術</h3><br>
  <ul>
    <li>AWS(クラウドプラクティショナーレベル)</li>
    <li>My SQL</li>
  </ul>
  <br>
  <br>
  <h3>フレームワーク</h3><br>
  <ul>
    <li>django</li>
    <li>Vue.js(学習中)</li>
  </ul>
  <br>
  <br>
  <h3>取得資格</h3>
  <br>
  <p>経済産業省 基本情報技術者試験</p>
  <br>
  <br>
</div>

<br>
<br>
</div>
{% endblock %}
